
.main-description .left{
    width: 30%;
    align-content: center;
    margin-left: 2%;
}
.main-description .left div{
    display: flex;
    align-items: center;
    font-size: 14px;
}
.main-description .left div span{
    font-weight: 800;
}
.main-description .left h4{
    margin-bottom: 5%;
    font-size: 20px;
    font-weight: 400;
}