
.mainContent {
    width: 100%;
    padding-top: 10vh;
    color: #FFFFFF;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
}

.mainContent .main-heading {
    /* background-color: yellowgreen; */
    width: 46%;
    margin-left: 9%;
    margin-top: 3.4%;
}

.mainContent .main-heading .title-head {
    font-size: 34px;
    /* font-weight: normal; */
    margin-bottom: 1%;
}

.mainContent .main-heading .detail {
    /* font-weight: lighter; */
    font-size: 16px;
}

.main-description{
    /* background-color: black; */
    width: 74.167%;
    max-height: 41.78vh;
    margin: 4% auto;
    display: flex;
    justify-content: space-between;
}
