
.main-description .right {
    width: 50.93%;
    border: 1px solid #D6D6D6;
    border-radius: 16px;
    background-color: #FFFFFF;
    color: black;
    position: relative;
    right: 0px;
}

.main-description .right .header {
    background-color: #FCF8F4;
    height: 18.1%;
    color: #122B49;
    font-size: 20px;
    font-weight: 400;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    align-content: center;
}

.main-description .right .header p {
    margin-left: 10.1%;
}

.main-description .right .footer {
    width: 100%;
    background-color: #FCF8F4;
    height: 18.1%;
    color: #122B49;
    font-size: 12px;
    font-weight: 400;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    align-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    bottom: 0%;
    align-items: center;
    /* justify-content: space-between; */
    /* margin-top: 10.1%; */
}

.main-description .right .footer div {
    display: flex;
    margin-left: 3.6%;
    position: absolute;
    color: #7A7A7A;
    width: 50%;
    left: 2%;
    font-size: 12px;
}

.main-description .right .footer div a {
    text-decoration: none;
    font-weight: 600;
    margin-left: 1.5%;
    color: black;
    margin-top: auto;
    margin-bottom: auto;
}

.main-description .right .footer input {
    background-color: #122B49;
    border: 1px solid #122B49;
    padding: 1% 5%;
    color: #FFFFFF;
    font-weight: 200;
    font-size: 16px;
    border-radius: 8px;
    margin-right: 5.1%;
    position: absolute;
    right: 3%;
}
